# Telegram bot
aiogram==3.23.1       # последняя стабильная версия aiogram 3.x
aiohttp==3.8.5        # стабильная версия, работает с aiogram 3.23.1

# Environment
python-dotenv==1.0.0

# Web server
fastapi==0.111.1
uvicorn[standard]==0.23.2